/* 
font-family: 'Saira', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Saira Semi Condensed', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  height: 100vh;
  background-color: #29a6dc;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

header>* {
  position: absolute;
}

header img {
  height: 50%;
  bottom: 0;
  right: 0;
}

header div.welcome {
  z-index: 1;
  top: 7%;
  left: 5%;
  right: 5%;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  margin-top: 15px;
  font-size: 20px;
}

header h2 {
  font-size: 20px;
  font-weight: normal;
}

header button {
  font-family: 'Saira', sans-serif;
  line-height: 32px;
  padding: 0 15px;
  border: 2px solid white;
  font-size: 12px;
  font-weight: 300;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
}

@media (orientation:portrait) and (min-width:360px) {
  header h1, header h2 {
    font-size: 24px;
  }
  header button {
    line-height: 40px;
    font-size: 16px;
    margin-top: 24px;
  }
}

@media (orientation:portrait) and (min-width:411px) {
  header h1, header h2 {
    font-size: 26px;
  }
  header button {
    line-height: 50px;
    font-size: 20px;
    margin-top: 40px;
  }
}

@media (orientation:portrait) and (min-width:768px) {
  header p {
    font-size: 84px;
  }
  header h1, header h2 {
    font-size: 35px;
  }
  header button {
    line-height: 60px;
    font-size: 26px;
    margin-top: 75px;
  }
}

@media (orientation:landscape) {
  .scrollup {
    background-image: url('images/up.png');
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity .2s;
  }
  .scrollup:hover {
    opacity: 1;
  }
  header img {
    height: 80%;
    bottom: 0;
    right: -5%;
  }
  header div.welcome {
    top: 12%;
    left: 5%;
    right: 45%;
  }
  header button {
    margin-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  header h1 {
    font-size: 24px;
  }
  header h2 {
    font-size: 24px;
  }
  header button {
    font-size: 16px;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-width:1024px) {
  header div.welcome {
    left: 2%;
  }
  header p {
    font-size: 56px;
  }
  header h1, header h2 {
    font-size: 34px;
  }
  header h1 {
    margin-top: 40px;
  }
  header button {
    font-size: 28px;
    line-height: 70px;
    margin-top: 80px;
  }
  header img {
    height: 80%;
    right: 0;
  }
}

@media (orientation: landscape) and (min-width:1280px) {
  header div.welcome {
    top: 18%;
    left: 6%;
    text-align: left;
  }
  header p {
    font-size: 75px;
  }
  header h1, header h2 {
    font-size: 38px;
    line-height: 1.7;
  }
  header button {
    font-size: 28px;
    line-height: 70px;
    margin-top: 80px;
    padding: 0 30px;
  }
}

@media (orientation: landscape) and (min-width:1600px) {
  header div.welcome {
    top: 16%;
    left: 10%;
    text-align: left;
    width: 57%;
  }
  header p {
    font-size: 120px;
  }
  header h1, header h2 {
    font-size: 60px;
  }
  header button {
    font-size: 36px;
    line-height: 90px;
    margin-top: 80px;
    padding: 0 35px;
    transition: .2s;
  }
  header img {
    height: 95%;
  }
}

@media (orientation: landscape) and (min-width:1024px) {
  header button {
    transition: .2s;
  }
  header button:hover {
    cursor: pointer;
    color: #111;
    background-color: #fff;
  }
}

/* Sekcja 1 nasze cechy */

.features {
  padding: 5%;
  margin: 6% auto 0;
  max-width: 1600px;
  text-align: center;
}

.features h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.features h2 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.features p {
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 20px 0;
}

.features img {
  width: 100%;
  margin: 5px 0;
  max-width: 375px;
}

@media (min-width:360px) {
  .features p {
    font-size: 16px;
  }
}

@media (min-width:768px) {
  .features h1 {
    font-size: 40px;
  }
  .features h2 {
    font-size: 30px;
  }
  .features p {
    font-size: 22px;
  }
}

@media (min-width:1024px) {
  .features {
    margin: 4% auto 0;
    padding: 5% 2%;
  }
  .feature {
    float: left;
    padding: 3%;
    width: 33.333%;
  }
  .features h1 {
    font-size: 32px;
  }
  .features h2 {
    font-size: 18px;
  }
  .features p {
    font-size: 14px;
  }
}

@media (min-width:1600px) {
  .features {
    margin: 2% auto 0;
    padding: 5% 3%;
  }
  .feature {
    float: left;
    padding: 3%;
    width: 33.333%;
  }
  .features h1 {
    font-size: 50px;
  }
  .features h2 {
    font-size: 23px;
  }
  .features p {
    font-size: 18px;
  }
}

/* Sekcja 2 moje projekty */

.portfolio {
  background-color: #1e1e1e;
  padding: 10px 0 30px;
}

.portfolio h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.web img {
  width: 100%;
}

.about {
  color: white;
  font-family: 'Saira', sans-serif;
  font-weight: normal;
  padding: 10px 20px 20px 0px;
  text-align: left;
}

.about:last-of-type {
  max-height: 320px;
}

.about h2 {
  font-size: 28px;
  border-bottom: 1px solid white;
  margin-bottom: 12px;
  padding: 0 0 6px 20px;
}

.about p {
  font-size: 12px;
  padding-left: 20px;
}

.project {
  max-width: 1400px;
  margin: 0 auto 20px;
}

.web img {
  transition: transform .5s;
}

.web img:hover {
  transform: scale(1.05);
}

.project:nth-of-type(odd) {
  background-color: #ff4f2c;
}

.project:nth-of-type(even) {
  background-color: #29a6dc;
}

@media (orientation: landscape) {
  .about h2 {
    font-size: 18px;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding: 0 0 4px 20px;
  }
  .web, .about {
    width: 50%;
    float: left;
  }
  .web img {
    display: block;
  }
  .project:nth-of-type(even) .web {
    float: right;
  }
  .project:nth-of-type(even) h2 {
    padding: 50px 0 6px 0px;
    margin-left: 40px;
  }
  .project:nth-of-type(even) .about {
    padding-right: 0;
  }
  .project:nth-of-type(even) p {
    padding-right: 20px;
  }
}

@media (min-width:580px) and (orientation:portrait) {
  .portfolio h1 {
    font-size: 33px;
  }
  .about h2 {
    font-size: 26px;
    border-bottom: 1px solid white;
    margin-bottom: 12px;
    padding: 0 0 6px 20px;
  }
  .about p {
    font-size: 15px;
    padding-left: 20px;
  }
}

@media (min-width:768px) and (orientation:portrait) {
  .portfolio h1 {
    font-size: 40px;
  }
  .about h2 {
    font-size: 30px;
    border-bottom: 1px solid white;
    margin-bottom: 12px;
    padding: 0 0 6px 40px;
  }
  .about p {
    font-size: 18px;
    padding-left: 40px;
  }
  .project {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) and (orientation:landscape) {
  .portfolio h1 {
    font-size: 43px;
    padding: 30px 0;
  }
  .about h2 {
    font-size: 25px;
    margin-bottom: 25px;
    padding: 20px 0 6px 20px;
    border-bottom: 1px solid white;
  }
  .about p {
    font-size: 15px;
    padding-left: 20px;
  }
  .project {
    margin-bottom: 20px;
  }
}

@media (min-width:1400px) and (orientation:landscape) {
  .portfolio h1 {
    font-size: 60px;
    padding: 30px 0;
  }
  .about h2 {
    font-size: 30px;
    margin-bottom: 50px;
    padding: 50px 0 6px 40px;
    border-bottom: 1px solid white;
  }
  .about p {
    font-size: 18px;
    padding-left: 40px;
  }
  .project {
    margin-bottom: 40px;
  }
}

/* Sekcja 3 moje życiowe motto */

.slogan {
  font-family: 'Saira', sans-serif;
  text-align: center;
  background-image: url("images/motto.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  color: white;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.slogan h1 {
  margin-top: 15px;
  margin-bottom: 60px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.slogan .text {
  font-size: 18px;
}

.slogan .author {
  margin-top: 20px;
  font-size: 12px;
  font: italic;
}

.bg {
  padding: 30px 20px 20%;
  background-color: rgba(0, 63, 114, 0.4);
  min-height: 70vh;
}

@media (orientation:landscape) {
  .slogan p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .slogan h1 {
    margin-top: 15px;
    margin-bottom: 75px;
    font-size: 36px;
  }
  .slogan .text {
    font-size: 20px;
  }
  .slogan .author {
    margin-bottom: 10%;
    font-size: 16px;
    font: italic;
  }
}

@media (min-width:460px) {
  .slogan p {
    padding: 0 20px;
  }
  .slogan h1 {
    margin-top: 25px;
    margin-bottom: 85px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .slogan .text {
    font-size: 22px;
  }
  .slogan .author {
    margin-top: 20px;
    font-size: 18px;
  }
  .bg {
    padding: 30px 20px;
  }
}

@media (min-width:768px) {
  .slogan p {
    width: 80%;
    margin-left: auto;
    margin: auto;
  }
  .slogan h1 {
    margin-top: 30px;
    margin-bottom: 95px;
    font-size: 50px;
  }
  .slogan .text {
    font-size: 30px;
  }
  .slogan .author {
    margin-top: 25px;
    font-size: 22px;
  }
}

@media (min-width:768px) {
  .slogan p {
    width: 80%;
    margin-left: auto;
    margin: auto;
  }
  .slogan h1 {
    margin-top: 30px;
    margin-bottom: 95px;
    font-size: 50px;
  }
  .slogan .text {
    font-size: 30px;
  }
  .slogan .author {
    margin-top: 25px;
    font-size: 22px;
  }
}

@media (min-width:1024px) {
  .slogan p {
    width: 65%;
    margin-left: auto;
    margin: auto;
  }
}

@media (min-width:1600px) {
  .slogan p {
    width: 50%;
    margin-left: auto;
    margin: auto;
  }
}

.slogan h1 {
  margin-top: 45px;
  margin-bottom: 110px;
  font-size: 60px
}

.slogan .text {
  font-size: 32px;
}

.slogan .author {
  margin-top: 35px;
  font-size: 24px;
}

/* Sekcja 4 moje umiejętności */

.skills {
  position: relative;
  background-color: #000000;
}

.skills-container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.skills-section.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.skills-heading h2 {
  font-size: 50px;
  margin-bottom: 5%;
  line-height: 1.5;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}

.skills-heading h2:before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  max-width: 1024px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: #29A6DC
}

.skills-heading h2.skills-left:before {
  left: 0;
  margin-left: 0;
}

.skills-heading p {
  text-transform: none;
  margin-bottom: 5%;
  font-size: 1.1em;
  line-height: 1.6;
}

.skills-accordion {
  position: relative;
  background: rgb(253, 253, 253);
  margin-bottom: 20px;
}

.skills-accordion .skills-accordion-heading {
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.skills-accordion .skills-accordion-heading h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.skills-accordion .skills-accordion-heading .icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.skills-accordion .skills-accordion-content {
  border-top: 1px solid #e6e6e6;
  display: none;
}

.skills-accordion .skills-accordion-content .inner {
  padding: 20px;
  text-transform: none;
}

.skills-accordion.active .icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.skills-accordion.active h3 {
  color: #29A6DC
}

/* Sekcja 5 moje hobby */

.hobby {
  max-width: 1920px;
  margin: 0 auto;
}

.hobby .item {
  height: 25vh;
  background-position: center;
}

.hobby .item:nth-of-type(1) {
  background-image: url("images/hobby1.jpg");
  background-repeat: no-repeat;
}

.hobby .item:nth-of-type(2) {
  background-image: url("images/hobby2.jpg");
  background-repeat: no-repeat;
}

.hobby .item:nth-of-type(3) {
  background-image: url("images/hobby3.jpg");
  background-repeat: no-repeat;
}

.hobby .item:nth-of-type(4) {
  background-image: url("images/hobby4.jpg");
  background-repeat: no-repeat;
}

.hobby .item p {
  font-family: 'Saira', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  font-size: 20px;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hobby h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 32px;
  text-transform: uppercase;
}

@media (min-width:533px) {
  .hobby .item {
    float: left;
    width: 50%;
    height: 40vh;
  }
}

@media (min-width:768px) {
  .hobby h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .hobby .item p {
    font-size: 30px;
    padding: 15px 0;
  }
}

@media (min-width:1024px) {
  .hobby .item p {
    line-height: 40vh;
    padding: 0;
    opacity: 0;
    transition: 1s;
  }
  .hobby .item:hover p {
    opacity: 1;
    cursor: default;
  }
  .hobby .item {
    background-size: 100%;
    transition: 1s;
  }
  .hobby .item:hover {
    background-size: 120%;
  }
}

@media (min-width:1600px) {
  .hobby h1 {
    font-size: 60px;
    margin-top: 45px;
    margin-bottom: 40px;
  }
  .hobby .item p {
    font-size: 55px;
  }
}

/* Sekcja 6 kontakt */

.contact {
  background: black;
  padding: 30px 20px;
}

.contact h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.contact .socials {
  max-width: 1024px;
  padding-top: 30px;
  font-size: 0;
  margin: 0 auto;
}

.social a {
  color: white;
  text-decoration: none;
}

.social img {
  transition: .3s;
}

.social img:hover {
  transform: scale(1.1);
}

.contact .social {
  padding: 10px 0;
  color: white;
  text-align: center;
}

.contact .social span {
  line-height: 72px;
  padding-left: 10px;
  font-size: 20px;
  display: block;
}

@media (min-width:533px) {
  .contact .social {
    display: inline-block;
    width: 50%;
  }
}

@media (min-width:1024px) {
  .contact h1 {
    font-size: 60px;
    padding: 30px 0;
  }
  /* Stopka */
  footer {
    background-color: #29a6dc;
    color: white;
    font-family: 'Saira', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
  }
}